services:
  backend:
    build:
      context: ./backend
    ports:
      - "4001:5000"
    volumes:
      - ./backend:/app
    environment:
      - FLASK_ENV=development

  frontend:
    build:
      context: ./frontend
    ports:
      - "3001:3000"
    volumes:
      - ./frontend:/app
    stdin_open: true
    tty: true