DATABASE_URL=mongo_db_connection_string
DATABASE_NAME=db_name
ALLOWED_ORIGINS=http://localhost:5173
WEBHOOK_SECRET=random_string_hmac_auth
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=mongo_db_connection_string